<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="4E0B12EB-F632-457D-9E47-73CFEE6A89B3" Name="Sudoku Solver" Language="1033" Version="1.0.0.0" Manufacturer="Harbor" UpgradeCode="3B14AA30-AE44-4E89-8E11-7DB43383D7DF">
        <Package Description="Sudoku Solver" Comments="Sudoku Solver Install" InstallerVersion="200" Compressed="yes" Platform="x86" InstallScope="perMachine" />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed." Schedule="afterInstallValidate" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="ProgramFiles">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="Sudoku">
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationMenuFolder" Name="Sudoku">
                </Directory>
            </Directory>
        </Directory>

        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="Sudoku_exe" Guid="F2F11B45-2DAA-4C73-A462-4ED088BBCCD5">
                <File Id="FileId_Sudoku_exe" Name="Sudoku.exe" Source="Sudoku\bin\Release\Sudoku.exe" KeyPath="yes" Checksum="yes" />
            </Component>
        </DirectoryRef>
        <DirectoryRef Id="ApplicationMenuFolder">
            <Component Id="ApplicationShortcut" Guid="C35B6866-F6F7-4AC1-AAC1-960DAF645B3B">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="Sudoku" Target="[!FileId_Sudoku_exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY" Icon="AppIcon.exe" IconIndex="0" />
                <Shortcut Id="UninstallProduct" Name="Uninstall Sudoku" Description="Uninstalls Sudoku" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" />
                <RemoveFolder Id="ApplicationMenuFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Value="" Type="string" KeyPath="yes" />
            </Component>
        </DirectoryRef>

        <UI />
        <UIRef Id="WixUI_Minimal" />
        <PropertyRef Id="NETFRAMEWORK35" />
        <Condition Message="This application requires .NET Framework 3.5. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK35]]></Condition>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="Sudoku_exe" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
        <Icon Id="AppIcon.exe" SourceFile="Sudoku\Sudoku.ico" />
        <WixVariable Id="WixUILicenseRtf" Value="MIT_License.rtf" />
    </Product>
</Wix>